// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

.grid {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin: 0px auto;
  padding: 1em;
  gap: 2px;
}

.tile {
  height: 2em;
  width: 2em;
  
}

.empty {
  background: white;
}

.occupied {
  background: grey;
}

.hit {
  content: "X";
  background: red;
}

.miss {
  content: "--";
  background: lightblue;
}